<link href=" ~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/main.css" rel="stylesheet" />
<noscript><link href="~/Content/noscript.css" rel="stylesheet" /></noscript>

@{
    ViewBag.Title = "Home Page";
}


<div id="banner">
    <div id="jumbotron-wrapper" class="jumbotron landing is-preload">
        <div class="inner-jumbotron inner">
            <h1>Welcome to FA | ADI SYSTEMS LTD</h1>
            <p>A Fixed Asset Management Information System</p>
            @*<p><a href="#" class="jumbo-btn btn btn-primary">Features &raquo;</a></p>*@
        </div>
    </div>
</div>

